<?xml version="1.0"?>
<RedisConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WriteServerList>qxdev888@120.79.202.109:6379</WriteServerList>
  <ReadServerList>qxdev888@120.79.202.109:6380</ReadServerList>
  <MaxWritePoolSize>10</MaxWritePoolSize>
  <MaxReadPoolSize>10</MaxReadPoolSize>
  <LocalCacheTime>30000</LocalCacheTime>
  <DefaultDbIndex>0</DefaultDbIndex>
  <ConnectTimeout>30000</ConnectTimeout>
  <RedisPassword></RedisPassword>
  <ApplyRedis>true</ApplyRedis>
  <RecordeLog>false</RecordeLog>
  <AutoStart>true</AutoStart>
</RedisConfigInfo>