<div class="jumbotron">
    <h1>C8</h1>
    <h2>接口</h2>
    <h2>当前版本：@ViewData["Version"]</h2>
    <label>@*根目录下的文件：@ViewData["Files"]*@</label>
</div>
<div class="row">
    @*@ViewBag.BufferMessageCount*@
</div>
