<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- server roles
  所有枚举值为：
  
  // 1到7给服务器部署点，只能且必须有一个
  // 如果部署在本地，则使用LocalServer，部署到阿里云，就使用AliServer，这两个是互斥的
  LocalServer = 1,
  AliServer = 2,
  
  // 8到15给站点部署类型，默认为ApiServer
  ApiServer = 8,
  BackEndServer = 9,
  
  // 后面4个是哪个角色使用，同一个服务器，可以有多个角色
  DevServer = 16,
  TestServer = 32,
  PrePublishServer = 64,
  FormalServer = 128,
  StressTestServer = 256
  TestServer和DevServer不能重复
  -->
    <!--<add key="ServerRoles" value="LocalServer,ApiServer,TestServer" />-->
    <add key="ServerRoles" value="LocalServer,TestServer" />

    <!--缓存类型 localcache\memcached\redis-->
    <add key="CacheProvider" value="redis" />
    <!--缓存默认过期时间(分钟)-->
    <add key="CacheTimeOut" value="30" />
    <!--Memcached 地址配置-->
    <add key="MemcachedServerList" value="127.0.0.1:11211" />
    <!--Redis 地址配置-->
    <add key="WriteServerConStr" value="qxdev888@120.79.202.109:6379" /> 
    <add key="ReadServerConStr" value="qxdev888@120.79.202.109:6379" /> 
    <add key="MaxWritePoolSize" value="60" /> 
    <add key="MaxReadPoolSize" value="60" /> 
    <add key="AutoStart" value="true" /> 
    <add key="LocalCacheTime" value="180" />
    <add key="RecordeLog" value="false" /> 
    

    <!--腾讯云万彩吧短信 地址配置-->
    <add key="sdkappid" value="1400040575" />
    <add key="appkey" value="eb5005910142d1edbb20baddd0e8ca08" />
    <!--最小提款金额-->
    <add key="minExtractCash" value="1" />

    <add key="webHost" value="http://119.147.139.131:8082" />
    <add key="apiHost" value="http://119.147.139.131:8088" />


    <!--OSS相关配置-->
    <add key="oss_key_id" value="LTAxxxxxxxxxXJz" />
    <add key="oss_key_secret" value="xMiVxxxxxxxxxLOPeSPa" />
    <add key="oss_host" value="http://{0}.oss-cn-shenzhen.aliyuncs.com/" />
    <add key="oss_root" value="c8" />
    <add key="oss_public_bucket" value="c8-public" />
    <add key="oss_private_bucket" value="c8-private" />
    <add key="resource_public_host" value="" />
    <add key="resource_private_host" value="" />
    <add key="picture_public_host" value="http://c8-public.oss-cn-shenzhen.aliyuncs.com" />
    <add key="picture_private_host" value="http://c8-private.oss-cn-shenzhen.aliyuncs.com" />
    <add key="watermark_host" value="http://c8-public.oss-cn-shenzhen.aliyuncs.com" />
    <!--CND加速-->
    <add key="oss_region_id" value="cn-shenzhen" />
    <!--<add key="oss_bind_domain" value="oss.c8.cn" />-->
    
  </appSettings>

  <connectionStrings>
    <!--<add name="connStr" connectionString="Data Source=.;Initial Catalog=C8;User ID=sa;Password=123456;" />
    <add name="connSupportStr" connectionString="Data Source=.;Initial Catalog=C8_Support;User ID=sa;Password=123456;" />-->
    <add name="connStr" connectionString="Data Source=119.147.139.131,3433;Initial Catalog=C8;User ID=c8sa;Password=c8sa20180402;" />
    <add name="connSupportStr" connectionString="Data Source=119.147.139.131,3433;Initial Catalog=C8_Support;User ID=c8sa;Password=c8sa20180402;" />
  </connectionStrings>

  <log4net configSource="App_Data\log4net.config" />

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
